BridgeCrossing/WebContent/WEB-INF/wsdl/qe2Crossing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BridgeCrossingWS" targetNamespace="http://www.crossing.com/BridgeCrossingWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.crossing.com/BridgeCrossingWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.crossing.com/BridgeCrossingWS/">
      <xsd:element name="sendCrossingDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="vrn" type="xsd:string"/>
			<xsd:element name="gateno" type="xsd:string"/>
			<xsd:element name="direction" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendCrossingDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendCrossingDetailsResponse">
    <wsdl:part name="parameters" element="tns:sendCrossingDetailsResponse">
    </wsdl:part>
  </wsdl:message>  
  <wsdl:message name="sendCrossingDetails">
    <wsdl:part name="parameters" element="tns:sendCrossingDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BridgeCrossingWS">
    <wsdl:operation name="sendCrossingDetails">
      <wsdl:input message="tns:sendCrossingDetails">
    </wsdl:input>
      <wsdl:output message="tns:sendCrossingDetailsResponse">
    </wsdl:output>
    </wsdl:operation>	
  </wsdl:portType>
  <wsdl:binding name="BridgeCorssingSOAP" type="tns:BridgeCrossingWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendCrossingDetails">
      <soap:operation soapAction="urn:SendCrossingDetails"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>	
  </wsdl:binding>
  <wsdl:service name="BridgeCrossingWS">
    <wsdl:port name="BridgeCrossingPort" binding="tns:BridgeCorssingSOAP">     
      <soap:address location="http://localhost:8080/BridgeCrossingWS/services/BridgeCrossingPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
